<li class="work__block__item {{extraClasses}}">
  <article class="article__thumb article__thumb--{{layout.categoryClass}}">
    <a href="{{link}}">
      <!-- Article Image -->
      <div class="article__thumb__img">{{thumbnail}}
        <div class="article__thumb__img__clip" style="background-image: url({{thumbnail}});"></div>
        <i class="article__thumb__img__mask"></i>
      </div>
      <!-- /Article Image -->
      <!-- Article Content -->
      <div class="article__thumb__content">
        <h2 class="h3 u-margin-bXs article__thumb__title">{{title}}</h2>
        <p class="article__thumb__excerpt">{{excerpt}}</p>
      </div>
      <!-- /Article Content -->
    </a>
  </article>
</li>
