<li class="work__block">
  <article>
    <a href="{{work__block__link}}">
      <img src="{{work__block__image}}"></img>
    </a>
    <div class="work__block__content">
      <span>{{work__block__category}}</span>
      <h3>{{work__block__title}}</h3>
      <p>{{work__block__blurb}}</p>
      <a href="{{work__block__link}}">Read more</a>
    </div>
  </article>
</li>
