<div class="wrapper">
  <div id="blog-page">
    <div class="blog-article__wrapper blog-article--{{post.layout.categoryClass}}">
      <article class="blog-article">
        <header class="blog-article__header">
          <div class="blog-article__header__btns">
            <a href="#" class="blog-article__header__cat">{{post.category}}</a>
            <div class="blog-article__header__social">
              <a target="_blank" data-count="{{post.social.tweets}}" title="Share on Twitter" href="http://twitter.com/share?text={{post.title}}&url={{urls.full}}" class="social-btn social-btn__twitter">{{post.social.tweets}}</a>
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{urls.full}}" class="social-btn social-btn__facebook">{{post.social.facebook}}</a>
              <a target="_blank" href="https://plus.google.com/share?url={{urls.full}}" class="social-btn social-btn__google">{{post.social.plus}}</a>
            </div>
          </div>
          {{#with post}}
          <h2 class="blog-article__header__title">
            {{title}}
          </h2>
          <h3 class="h6 blog-article__header__meta">
            By {{author.name}} <span class="blog-article__header__meta__date">{{date}}</span>
          </h3>
        </header>
        <div class="blog-article__palm__content">
          <div class="blog-article__palm__image" style="background-image: url({{thumbnail}})"></div>
        </div>
        <div class="blog-article__content">
          <div class="blog-article__palm__triangle">
            <i class="blog-article__palm__triangle__mask"></i>
          </div>
          {{{content}}}
        </div>
        <aside class="blog-article__meta">
          <div class="blog-article__meta__avatar">
            {{{author.avatar}}}
          </div>
          <div class="blog-article__meta__description">
            <h5>About {{author.name}}</h5>
            <p>{{author.description}}</p>
          </div>
        </aside>
        {{/with}}
      </article>
      <div class="blog-article__pagination">
        <div class="blog-article__pagination__inner">
          {{#if next.exists}}
          <a href="{{next.link}}" class="blog-article__pagination__link blog-article__pagination__link--{{next.layout.categoryClass}}">
            {{next.title}}
          </a>
          {{/if}}
          {{#if previous.exists}}
          <a href="{{previous.link}}" class="blog-article__pagination__link blog-article__pagination__link--{{previous.layout.categoryClass}}">
            {{previous.title}}
          </a>
          {{/if}}
        </div>
      </div>
      <div class="blog-article__comments">
        <div class="blog-article__comments__inner">
          <div class="blog-article__comments__header">
            <p class="comments-count">{{post.comments.count}} Comments</p>
          </div>
          <ul class="comments-list">
            {{#each post.comments.items}}
            {{> single-blog-comment this}}
            {{/each}}
          </ul>
          <form action="{{urls.site}}/wordpress/wp-comments-post.php" method="post" id="commentform" class="comments-form">
            <header class="comments-form__header">
              <h3>Leave a comment</h3>
              <p>Your email address will not be published. Required fields are marked</p>
            </header>
            <div class="comments-form__main">
              <div class="comments-form__field">
                <label for="" class="comments-form__label">
                  Name<span class="asterix">*</span>
                </label>
                <div class="comments-form__io-wrapper">
                  <input type="text" name="author" class="comments-form__input" placeholder="Bob Dylan">
                </div>
              </div>
              <div class="comments-form__field">
                <label for="" class="comments-form__label">
                  Email<span class="asterix">*</span>
                </label>
                <div class="comments-form__io-wrapper">
                  <input type="text" name="email" class="comments-form__input" placeholder="some@email.com">
                </div>
              </div>
              <div class="comments-form__field">
                <label for="" class="comments-form__label">Website</label>
                <div class="comments-form__io-wrapper">
                  <input type="text" name="url" class="comments-form__input" placeholder="http://ustwo.com">
                </div>
              </div>
              <div class="comments-form__field">
                <label for="" class="comments-form__label comments-form__label--top">Comment<span class="asterix">*</span></label>
                <div class="comments-form__io-wrapper">
                  <textarea name="comment" id="" cols="30" rows="10" class="comments-form__textarea" placeholder="Type..."></textarea>
                </div>
              </div>
            </div>
            <div class="comments-form__btns">
              <input type="submit" name="submit" class="comments-form__submit" value="Post comment">
              <input type="hidden" name="comment_post_ID" value="{{post.id}}" id="comment_post_ID">
              <input type="hidden" name="comment_parent" id="comment_parent" value="0">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
